
.page {
    background: #f5f5f5;
}

.loading-img {
    background-image: url(/static/images/loading-img.gif);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}